// typography
$base-font-family: 'Neue Montreal', sans-serif;
$reset-rem-size: 100%;

$browser-context: 16;

// image path
$image-path: '../images';
$font-path: '../font';

$customScrollSize: 8px;
$row-gutter: 12px;

// border radius
$border-radius: 6px;