.custom-scroll {
  scrollbar-color: light;
  scrollbar-width: thin;
  scrollbar-color: var(--white) transparent;
}
.custom-scroll::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 7px;
  height: 7px;
}
.custom-scroll::-webkit-scrollbar-button, .custom-scroll::-webkit-scrollbar-corner {
  display: none;
}
.custom-scroll::-webkit-scrollbar-thumb {
  background-color: transparent;
  min-width: 32px;
  min-height: 32px;
  border-radius: 5px;
}
.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scroll:hover::-webkit-scrollbar-thumb {
  background-color: rgba(var(--white-rgb), 0.25);
}

:root[data-theme=theme-dark] {
  --white: #fff;
  --white-rgb: 255, 255, 255;
  --black: #000;
  --black-rgb: 0, 0, 0;
  --primary: #070707;
  --primary-rgb: 7, 7, 7;
  --secondary: #ED7D31;
  --secondary-rgb: 237, 125, 49;
  --secondary-dark: #B35517;
  --secondary-dark-rgb: 179, 85, 23;
  --text-primary: #FFFFFF;
  --text-primary-rgb: 255, 255, 255;
  --text-secondary: #AEB0B5;
  --text-secondary-rgb: 174, 176, 181;
  --text-tertiary: #1E1E1E;
  --text-tertiary-rgb: 30, 30, 30;
  --text-primary-disabled: #626262;
  --text-primary-disabled-rgb: 98, 98, 98;
  --bg-primary: #070707;
  --bg-primary-rgb: 7, 7, 7;
  --bg-secondary: #FFFFFF;
  --bg-secondary-rgb: 255, 255, 255;
  --bg-tertiary: #252730;
  --bg-tertiary-rgb: 37, 39, 48;
  --bg-tertiary-hover: #2C2E39;
  --bg-tertiary-hover-rgb: 44, 46, 57;
  --bg-block-primary: #7CC6C9;
  --bg-block-primary-rgb: 124, 198, 201;
  --bg-block-secondary: #383B45;
  --bg-block-secondary-rgb: 56, 59, 69;
  --bg-block-light-on-dark: #292A33;
  --bg-block-light-on-dark-rgb: 41, 42, 51;
  --link-primary: #ED7D31;
  --link-primary-rgb: 237, 125, 49;
  --link-secondary: #848589;
  --link-secondary-rgb: 132, 133, 137;
  --system-success: #43B498;
  --system-success-rgb: 67, 180, 152;
  --system-error: #FD7580;
  --system-error-rgb: 253, 117, 128;
  --badge-bg-primary: #ED7D31;
  --badge-bg-primary-rgb: 237, 125, 49;
  --badge-bg-secondary: #65DBDF;
  --badge-bg-secondary-rgb: 101, 219, 223;
  --border-primary: #3D3E46;
  --border-primary-rgb: 61, 62, 70;
  --border-primary-dark: #383B45;
  --border-primary-dark-rgb: 56, 59, 69;
  --Interactive-primary-hover: #64C4D1;
  --Interactive-primary-hover-rgb: 100, 196, 209;
  --icon-primary: #64C4D1;
  --icon-primary-rgb: 100, 196, 209;
  --icon-on-secondary: #E7E9ED;
  --icon-on-secondary-rgb: 231, 233, 237;
  --icon-on-hover: #292A33;
  --icon-on-hover-rgb: 41, 42, 51;
}

/* Use a more-intuitive box-sizing model. */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin and padding and reset fonts */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  font-size: 100%;
}

/*
  Typographic tweaks!
  Add accessible line-height
  Improve text rendering
*/
* {
  font-family: "Neue Montreal", sans-serif;
  font-size: 1rem;
  color: var(--white);
  line-height: 1.3;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.3;
  -webkit-font-smoothing: antialiased;
}

/* Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

/* Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  overflow-wrap: break-word;
}

/* Remove built-in form typography styles */
input,
button,
textarea,
select {
  font: inherit;
}

/* Create a root stacking context */
#root,
#__next {
  isolation: isolate;
}

input[type=number] {
  -webkit-appearance: textfield;
     -moz-appearance: textfield;
          appearance: textfield;
}
input[type=number]::-webkit-inner-spin-button, input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus {
  -webkit-text-fill-color: #000;
  box-shadow: 0 0 0px 1000px #fff inset;
  -webkit-transition: background-color 5000s ease-in-out 0s;
  transition: background-color 5000s ease-in-out 0s;
}
input[type=search]::-webkit-search-decoration, input[type=search]::-webkit-search-cancel-button, input[type=search]::-webkit-search-results-button, input[type=search]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

ul,
ol {
  padding: 0;
  margin: 0;
}
ul[role=list],
ol[role=list] {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before,
q:after {
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

pre {
  font-family: "Neue Montreal", sans-serif;
  -moz-tab-size: 2;
    -o-tab-size: 2;
       tab-size: 2;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.mh-100 {
  min-height: 100%;
}

.btn {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  font-weight: 400;
  font-size: 13px;
  line-height: 1;
  text-align: center;
  vertical-align: middle;
  padding: 10px 12px;
  border: 1px solid transparent;
  border-radius: 6px;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  transition: all 0.3s ease-in-out;
}
.btn:disabled, .btn.disabled, .btn[aria-disabled=true] {
  cursor: default;
}
.btn svg * {
  transition: all 0.4s;
}
.btn-primary {
  background-color: var(--primary-dark);
}
.btn-primary:hover {
  background-color: var(--Interactive-primary-hover);
}

.d-flex {
  display: flex;
}

.d-inline-flex {
  display: inline-flex;
}

.flex-row {
  flex-direction: row;
}

.flex-row-reverse {
  flex-direction: row-reverse;
}

.flex-column {
  flex-direction: column;
}

.flex-column-reverse {
  flex-direction: column-reverse;
}

.justify-content-start {
  justify-content: flex-start;
}

.justify-content-end {
  justify-content: flex-end;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-around {
  justify-content: space-around;
}

.justify-content-evenly {
  justify-content: space-evenly;
}

.flex-align-stretch {
  align-items: stretch;
}

.align-items-center {
  align-items: center;
}

.align-items-start {
  align-items: start;
}

.align-items-end {
  align-items: end;
}

.align-items-baseline {
  align-items: baseline;
}

.flex-nowrap {
  flex-wrap: nowrap;
}

.flex-wrap {
  flex-wrap: wrap;
}

.flex-wrap-reverse {
  flex-wrap: wrap-reverse;
}

.flex-fit {
  min-width: 0;
  flex: 1 1 0%;
}

.font-family-primary {
  font-family: "Neue Montreal", sans-serif;
}

.font-body-xs {
  font-weight: 400;
  font-size: 0.75rem;
  color: var(--black);
  line-height: 1.3;
}

.font-body-normal {
  font-weight: 400;
  font-size: 0.8125rem;
  color: var(--black);
  line-height: 1.3;
}

.font-body-small {
  font-weight: 400;
  font-size: 0.875rem;
  color: var(--black);
  line-height: 1.3;
}

.font-body-medium {
  font-weight: 500;
  font-size: 1rem;
  color: var(--black);
  line-height: 1.3;
}

.font-title-xs {
  font-weight: 500;
  font-size: 1.125rem;
  color: var(--black);
  line-height: 1.3;
}

.font-title-small {
  font-weight: 600;
  font-size: 1.625rem;
  color: var(--black);
  line-height: 1.3;
}

.font-title-medium {
  font-weight: 600;
  font-size: 2.1875rem;
  color: var(--black);
  line-height: 1.3;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-capitalize {
  text-transform: capitalize;
}

.font-weight-300 {
  font-weight: 300;
}

.font-weight-400 {
  font-weight: 400;
}

.font-weight-500 {
  font-weight: 500;
}

.font-weight-600 {
  font-weight: 600;
}

.font-weight-700 {
  font-weight: 700;
}

.line-height-12 {
  line-height: 1.2;
}

.line-height-13 {
  line-height: 1.3;
}

.line-height-14 {
  line-height: 1.4;
}

.line-height-15 {
  line-height: 1.5;
}

.font-color-primary {
  color: var(--black);
}

.font-color-secondary {
  color: var(--black);
}

.font-color-tertiary {
  color: var(--secondary);
}

.font-color-accent {
  color: var(--primary-dark);
}

.ros-p-0 {
  padding: 0 !important;
}

.ros-m-0 {
  margin: 0 !important;
}

.ros-p-0 {
  padding: 0 !important;
}

.ros-p-2 {
  padding: 2px !important;
}

.ros-p-4 {
  padding: 4px !important;
}

.ros-p-8 {
  padding: 8px !important;
}

.ros-p-12 {
  padding: 12px !important;
}

.ros-p-16 {
  padding: 16px !important;
}

.ros-p-18 {
  padding: 18px !important;
}

.ros-p-20 {
  padding: 20px !important;
}

.ros-p-24 {
  padding: 24px !important;
}

.ros-p-28 {
  padding: 28px !important;
}

.ros-p-32 {
  padding: 32px !important;
}

.ros-p-36 {
  padding: 36px !important;
}

.ros-p-40 {
  padding: 40px !important;
}

.ros-p-80 {
  padding: 80px !important;
}

.ros-pt-0 {
  padding-top: 0 !important;
}

.ros-pt-2 {
  padding-top: 2px !important;
}

.ros-pt-4 {
  padding-top: 4px !important;
}

.ros-pt-8 {
  padding-top: 8px !important;
}

.ros-pt-12 {
  padding-top: 12px !important;
}

.ros-pt-16 {
  padding-top: 16px !important;
}

.ros-pt-18 {
  padding-top: 18px !important;
}

.ros-pt-20 {
  padding-top: 20px !important;
}

.ros-pt-24 {
  padding-top: 24px !important;
}

.ros-pt-28 {
  padding-top: 28px !important;
}

.ros-pt-32 {
  padding-top: 32px !important;
}

.ros-pt-36 {
  padding-top: 36px !important;
}

.ros-pt-40 {
  padding-top: 40px !important;
}

.ros-pt-80 {
  padding-top: 80px !important;
}

.ros-pr-0 {
  padding-right: 0 !important;
}

.ros-pr-2 {
  padding-right: 2px !important;
}

.ros-pr-4 {
  padding-right: 4px !important;
}

.ros-pr-8 {
  padding-right: 8px !important;
}

.ros-pr-12 {
  padding-right: 12px !important;
}

.ros-pr-16 {
  padding-right: 16px !important;
}

.ros-pr-18 {
  padding-right: 18px !important;
}

.ros-pr-20 {
  padding-right: 20px !important;
}

.ros-pr-24 {
  padding-right: 24px !important;
}

.ros-pr-28 {
  padding-right: 28px !important;
}

.ros-pr-32 {
  padding-right: 32px !important;
}

.ros-pr-36 {
  padding-right: 36px !important;
}

.ros-pr-40 {
  padding-right: 40px !important;
}

.ros-pr-80 {
  padding-right: 80px !important;
}

.ros-pb-0 {
  padding-bottom: 0 !important;
}

.ros-pb-2 {
  padding-bottom: 2px !important;
}

.ros-pb-4 {
  padding-bottom: 4px !important;
}

.ros-pb-8 {
  padding-bottom: 8px !important;
}

.ros-pb-12 {
  padding-bottom: 12px !important;
}

.ros-pb-16 {
  padding-bottom: 16px !important;
}

.ros-pb-18 {
  padding-bottom: 18px !important;
}

.ros-pb-20 {
  padding-bottom: 20px !important;
}

.ros-pb-24 {
  padding-bottom: 24px !important;
}

.ros-pb-28 {
  padding-bottom: 28px !important;
}

.ros-pb-32 {
  padding-bottom: 32px !important;
}

.ros-pb-36 {
  padding-bottom: 36px !important;
}

.ros-pb-40 {
  padding-bottom: 40px !important;
}

.ros-pb-80 {
  padding-bottom: 80px !important;
}

.ros-pl-0 {
  padding-left: 0 !important;
}

.ros-pl-2 {
  padding-left: 2px !important;
}

.ros-pl-4 {
  padding-left: 4px !important;
}

.ros-pl-8 {
  padding-left: 8px !important;
}

.ros-pl-12 {
  padding-left: 12px !important;
}

.ros-pl-16 {
  padding-left: 16px !important;
}

.ros-pl-18 {
  padding-left: 18px !important;
}

.ros-pl-20 {
  padding-left: 20px !important;
}

.ros-pl-24 {
  padding-left: 24px !important;
}

.ros-pl-28 {
  padding-left: 28px !important;
}

.ros-pl-32 {
  padding-left: 32px !important;
}

.ros-pl-36 {
  padding-left: 36px !important;
}

.ros-pl-40 {
  padding-left: 40px !important;
}

.ros-pl-80 {
  padding-left: 80px !important;
}

.ros-m-0 {
  margin: 0 !important;
}

.ros-m-2 {
  margin: 2px !important;
}

.ros-m-4 {
  margin: 4px !important;
}

.ros-m-8 {
  margin: 8px !important;
}

.ros-m-12 {
  margin: 12px !important;
}

.ros-m-16 {
  margin: 16px !important;
}

.ros-m-18 {
  margin: 18px !important;
}

.ros-m-20 {
  margin: 20px !important;
}

.ros-m-24 {
  margin: 24px !important;
}

.ros-m-28 {
  margin: 28px !important;
}

.ros-m-32 {
  margin: 32px !important;
}

.ros-m-36 {
  margin: 36px !important;
}

.ros-m-40 {
  margin: 40px !important;
}

.ros-m-80 {
  margin: 80px !important;
}

.ros-mt-0 {
  margin-top: 0 !important;
}

.ros-mt-2 {
  margin-top: 2px !important;
}

.ros-mt-4 {
  margin-top: 4px !important;
}

.ros-mt-8 {
  margin-top: 8px !important;
}

.ros-mt-12 {
  margin-top: 12px !important;
}

.ros-mt-16 {
  margin-top: 16px !important;
}

.ros-mt-18 {
  margin-top: 18px !important;
}

.ros-mt-20 {
  margin-top: 20px !important;
}

.ros-mt-24 {
  margin-top: 24px !important;
}

.ros-mt-28 {
  margin-top: 28px !important;
}

.ros-mt-32 {
  margin-top: 32px !important;
}

.ros-mt-36 {
  margin-top: 36px !important;
}

.ros-mt-40 {
  margin-top: 40px !important;
}

.ros-mt-80 {
  margin-top: 80px !important;
}

.ros-mr-0 {
  margin-right: 0 !important;
}

.ros-mr-2 {
  margin-right: 2px !important;
}

.ros-mr-4 {
  margin-right: 4px !important;
}

.ros-mr-8 {
  margin-right: 8px !important;
}

.ros-mr-12 {
  margin-right: 12px !important;
}

.ros-mr-16 {
  margin-right: 16px !important;
}

.ros-mr-18 {
  margin-right: 18px !important;
}

.ros-mr-20 {
  margin-right: 20px !important;
}

.ros-mr-24 {
  margin-right: 24px !important;
}

.ros-mr-28 {
  margin-right: 28px !important;
}

.ros-mr-32 {
  margin-right: 32px !important;
}

.ros-mr-36 {
  margin-right: 36px !important;
}

.ros-mr-40 {
  margin-right: 40px !important;
}

.ros-mr-80 {
  margin-right: 80px !important;
}

.ros-mb-0 {
  margin-bottom: 0 !important;
}

.ros-mb-2 {
  margin-bottom: 2px !important;
}

.ros-mb-4 {
  margin-bottom: 4px !important;
}

.ros-mb-8 {
  margin-bottom: 8px !important;
}

.ros-mb-12 {
  margin-bottom: 12px !important;
}

.ros-mb-16 {
  margin-bottom: 16px !important;
}

.ros-mb-18 {
  margin-bottom: 18px !important;
}

.ros-mb-20 {
  margin-bottom: 20px !important;
}

.ros-mb-24 {
  margin-bottom: 24px !important;
}

.ros-mb-28 {
  margin-bottom: 28px !important;
}

.ros-mb-32 {
  margin-bottom: 32px !important;
}

.ros-mb-36 {
  margin-bottom: 36px !important;
}

.ros-mb-40 {
  margin-bottom: 40px !important;
}

.ros-mb-80 {
  margin-bottom: 80px !important;
}

.ros-ml-0 {
  margin-left: 0 !important;
}

.ros-ml-2 {
  margin-left: 2px !important;
}

.ros-ml-4 {
  margin-left: 4px !important;
}

.ros-ml-8 {
  margin-left: 8px !important;
}

.ros-ml-12 {
  margin-left: 12px !important;
}

.ros-ml-16 {
  margin-left: 16px !important;
}

.ros-ml-18 {
  margin-left: 18px !important;
}

.ros-ml-20 {
  margin-left: 20px !important;
}

.ros-ml-24 {
  margin-left: 24px !important;
}

.ros-ml-28 {
  margin-left: 28px !important;
}

.ros-ml-32 {
  margin-left: 32px !important;
}

.ros-ml-36 {
  margin-left: 36px !important;
}

.ros-ml-40 {
  margin-left: 40px !important;
}

.ros-ml-80 {
  margin-left: 80px !important;
}

.ros-column-gap-0 {
  -moz-column-gap: 0 !important;
       column-gap: 0 !important;
}

.ros-column-gap-4 {
  -moz-column-gap: 4px !important;
       column-gap: 4px !important;
}

.ros-column-gap-8 {
  -moz-column-gap: 8px !important;
       column-gap: 8px !important;
}

.ros-column-gap-12 {
  -moz-column-gap: 12px !important;
       column-gap: 12px !important;
}

.ros-column-gap-16 {
  -moz-column-gap: 16px !important;
       column-gap: 16px !important;
}

.ros-column-gap-80 {
  -moz-column-gap: 80px !important;
       column-gap: 80px !important;
}

.ros-row-gap-0 {
  row-gap: 0 !important;
}

.ros-row-gap-4 {
  row-gap: 4px !important;
}

.ros-row-gap-8 {
  row-gap: 8px !important;
}

.ros-row-gap-12 {
  row-gap: 12px !important;
}

.ros-row-gap-16 {
  row-gap: 16px !important;
}

.ros-row-gap-80 {
  row-gap: 80px !important;
}

.ros-m-auto {
  margin: auto !important;
}

.bg-primary {
  background-color: var(--bg-secondary);
}

.bg-secondary {
  background-color: var(--bg-primary);
}

.font-hover-primary {
  transition: color 0.4s;
}
.font-hover-primary:hover {
  color: var(--primary-dark);
}

.row {
  --row-gutter: 24px;
  display: flex;
  flex-wrap: wrap;
  row-gap: var(--row-gutter);
  margin: 0 calc(-1 * var(--row-gutter) / 2);
}
.row [class*=row-col] {
  flex: 1 0 0%;
  min-width: 0;
  margin: 0 calc(var(--row-gutter) / 2);
}
@media only screen and (min-width: 1249px) {
  .row .row-col-xl-1 {
    flex: 0 0 calc(8.3333333333% * 1 - var(--row-gutter));
    max-width: calc(8.3333333333% * 1 - var(--row-gutter));
  }
  .row .row-col-xl-2 {
    flex: 0 0 calc(8.3333333333% * 2 - var(--row-gutter));
    max-width: calc(8.3333333333% * 2 - var(--row-gutter));
  }
  .row .row-col-xl-3 {
    flex: 0 0 calc(8.3333333333% * 3 - var(--row-gutter));
    max-width: calc(8.3333333333% * 3 - var(--row-gutter));
  }
  .row .row-col-xl-4 {
    flex: 0 0 calc(8.3333333333% * 4 - var(--row-gutter));
    max-width: calc(8.3333333333% * 4 - var(--row-gutter));
  }
  .row .row-col-xl-5 {
    flex: 0 0 calc(8.3333333333% * 5 - var(--row-gutter));
    max-width: calc(8.3333333333% * 5 - var(--row-gutter));
  }
  .row .row-col-xl-6 {
    flex: 0 0 calc(8.3333333333% * 6 - var(--row-gutter));
    max-width: calc(8.3333333333% * 6 - var(--row-gutter));
  }
  .row .row-col-xl-7 {
    flex: 0 0 calc(8.3333333333% * 7 - var(--row-gutter));
    max-width: calc(8.3333333333% * 7 - var(--row-gutter));
  }
  .row .row-col-xl-8 {
    flex: 0 0 calc(8.3333333333% * 8 - var(--row-gutter));
    max-width: calc(8.3333333333% * 8 - var(--row-gutter));
  }
  .row .row-col-xl-9 {
    flex: 0 0 calc(8.3333333333% * 9 - var(--row-gutter));
    max-width: calc(8.3333333333% * 9 - var(--row-gutter));
  }
  .row .row-col-xl-10 {
    flex: 0 0 calc(8.3333333333% * 10 - var(--row-gutter));
    max-width: calc(8.3333333333% * 10 - var(--row-gutter));
  }
  .row .row-col-xl-11 {
    flex: 0 0 calc(8.3333333333% * 11 - var(--row-gutter));
    max-width: calc(8.3333333333% * 11 - var(--row-gutter));
  }
  .row .row-col-xl-12 {
    flex: 0 0 calc(8.3333333333% * 12 - var(--row-gutter));
    max-width: calc(8.3333333333% * 12 - var(--row-gutter));
  }
}
@media only screen and (min-width: 992px) {
  .row .row-col-md-1 {
    flex: 0 0 calc(8.3333333333% * 1 - var(--row-gutter));
    max-width: calc(8.3333333333% * 1 - var(--row-gutter));
  }
  .row .row-col-md-2 {
    flex: 0 0 calc(8.3333333333% * 2 - var(--row-gutter));
    max-width: calc(8.3333333333% * 2 - var(--row-gutter));
  }
  .row .row-col-md-3 {
    flex: 0 0 calc(8.3333333333% * 3 - var(--row-gutter));
    max-width: calc(8.3333333333% * 3 - var(--row-gutter));
  }
  .row .row-col-md-4 {
    flex: 0 0 calc(8.3333333333% * 4 - var(--row-gutter));
    max-width: calc(8.3333333333% * 4 - var(--row-gutter));
  }
  .row .row-col-md-5 {
    flex: 0 0 calc(8.3333333333% * 5 - var(--row-gutter));
    max-width: calc(8.3333333333% * 5 - var(--row-gutter));
  }
  .row .row-col-md-6 {
    flex: 0 0 calc(8.3333333333% * 6 - var(--row-gutter));
    max-width: calc(8.3333333333% * 6 - var(--row-gutter));
  }
  .row .row-col-md-7 {
    flex: 0 0 calc(8.3333333333% * 7 - var(--row-gutter));
    max-width: calc(8.3333333333% * 7 - var(--row-gutter));
  }
  .row .row-col-md-8 {
    flex: 0 0 calc(8.3333333333% * 8 - var(--row-gutter));
    max-width: calc(8.3333333333% * 8 - var(--row-gutter));
  }
  .row .row-col-md-9 {
    flex: 0 0 calc(8.3333333333% * 9 - var(--row-gutter));
    max-width: calc(8.3333333333% * 9 - var(--row-gutter));
  }
  .row .row-col-md-10 {
    flex: 0 0 calc(8.3333333333% * 10 - var(--row-gutter));
    max-width: calc(8.3333333333% * 10 - var(--row-gutter));
  }
  .row .row-col-md-11 {
    flex: 0 0 calc(8.3333333333% * 11 - var(--row-gutter));
    max-width: calc(8.3333333333% * 11 - var(--row-gutter));
  }
  .row .row-col-md-12 {
    flex: 0 0 calc(8.3333333333% * 12 - var(--row-gutter));
    max-width: calc(8.3333333333% * 12 - var(--row-gutter));
  }
}
@media only screen and (min-width: 768px) {
  .row .row-col-sm-1 {
    flex: 0 0 calc(8.3333333333% * 1 - var(--row-gutter));
    max-width: calc(8.3333333333% * 1 - var(--row-gutter));
  }
  .row .row-col-sm-2 {
    flex: 0 0 calc(8.3333333333% * 2 - var(--row-gutter));
    max-width: calc(8.3333333333% * 2 - var(--row-gutter));
  }
  .row .row-col-sm-3 {
    flex: 0 0 calc(8.3333333333% * 3 - var(--row-gutter));
    max-width: calc(8.3333333333% * 3 - var(--row-gutter));
  }
  .row .row-col-sm-4 {
    flex: 0 0 calc(8.3333333333% * 4 - var(--row-gutter));
    max-width: calc(8.3333333333% * 4 - var(--row-gutter));
  }
  .row .row-col-sm-5 {
    flex: 0 0 calc(8.3333333333% * 5 - var(--row-gutter));
    max-width: calc(8.3333333333% * 5 - var(--row-gutter));
  }
  .row .row-col-sm-6 {
    flex: 0 0 calc(8.3333333333% * 6 - var(--row-gutter));
    max-width: calc(8.3333333333% * 6 - var(--row-gutter));
  }
  .row .row-col-sm-7 {
    flex: 0 0 calc(8.3333333333% * 7 - var(--row-gutter));
    max-width: calc(8.3333333333% * 7 - var(--row-gutter));
  }
  .row .row-col-sm-8 {
    flex: 0 0 calc(8.3333333333% * 8 - var(--row-gutter));
    max-width: calc(8.3333333333% * 8 - var(--row-gutter));
  }
  .row .row-col-sm-9 {
    flex: 0 0 calc(8.3333333333% * 9 - var(--row-gutter));
    max-width: calc(8.3333333333% * 9 - var(--row-gutter));
  }
  .row .row-col-sm-10 {
    flex: 0 0 calc(8.3333333333% * 10 - var(--row-gutter));
    max-width: calc(8.3333333333% * 10 - var(--row-gutter));
  }
  .row .row-col-sm-11 {
    flex: 0 0 calc(8.3333333333% * 11 - var(--row-gutter));
    max-width: calc(8.3333333333% * 11 - var(--row-gutter));
  }
  .row .row-col-sm-12 {
    flex: 0 0 calc(8.3333333333% * 12 - var(--row-gutter));
    max-width: calc(8.3333333333% * 12 - var(--row-gutter));
  }
}
@media only screen and (min-width: 576px) {
  .row .row-col-xs-1 {
    flex: 0 0 calc(8.3333333333% * 1 - var(--row-gutter));
    max-width: calc(8.3333333333% * 1 - var(--row-gutter));
  }
  .row .row-col-xs-2 {
    flex: 0 0 calc(8.3333333333% * 2 - var(--row-gutter));
    max-width: calc(8.3333333333% * 2 - var(--row-gutter));
  }
  .row .row-col-xs-3 {
    flex: 0 0 calc(8.3333333333% * 3 - var(--row-gutter));
    max-width: calc(8.3333333333% * 3 - var(--row-gutter));
  }
  .row .row-col-xs-4 {
    flex: 0 0 calc(8.3333333333% * 4 - var(--row-gutter));
    max-width: calc(8.3333333333% * 4 - var(--row-gutter));
  }
  .row .row-col-xs-5 {
    flex: 0 0 calc(8.3333333333% * 5 - var(--row-gutter));
    max-width: calc(8.3333333333% * 5 - var(--row-gutter));
  }
  .row .row-col-xs-6 {
    flex: 0 0 calc(8.3333333333% * 6 - var(--row-gutter));
    max-width: calc(8.3333333333% * 6 - var(--row-gutter));
  }
  .row .row-col-xs-7 {
    flex: 0 0 calc(8.3333333333% * 7 - var(--row-gutter));
    max-width: calc(8.3333333333% * 7 - var(--row-gutter));
  }
  .row .row-col-xs-8 {
    flex: 0 0 calc(8.3333333333% * 8 - var(--row-gutter));
    max-width: calc(8.3333333333% * 8 - var(--row-gutter));
  }
  .row .row-col-xs-9 {
    flex: 0 0 calc(8.3333333333% * 9 - var(--row-gutter));
    max-width: calc(8.3333333333% * 9 - var(--row-gutter));
  }
  .row .row-col-xs-10 {
    flex: 0 0 calc(8.3333333333% * 10 - var(--row-gutter));
    max-width: calc(8.3333333333% * 10 - var(--row-gutter));
  }
  .row .row-col-xs-11 {
    flex: 0 0 calc(8.3333333333% * 11 - var(--row-gutter));
    max-width: calc(8.3333333333% * 11 - var(--row-gutter));
  }
  .row .row-col-xs-12 {
    flex: 0 0 calc(8.3333333333% * 12 - var(--row-gutter));
    max-width: calc(8.3333333333% * 12 - var(--row-gutter));
  }
}
.row.row-gutter-8 {
  --row-gutter: 8px;
}
.row.row-gutter-16 {
  --row-gutter: 16px;
}
.row.row-gutter-20 {
  --row-gutter: 20px;
}

.d-block {
  display: block;
}

.d-none {
  display: none;
}

.cursor-pointer {
  cursor: pointer;
}

.main-wrapper {
  background-color: var(--bg-primary);
  height: 100vh;
  min-width: 100vw;
  max-width: 100vw;
  overflow-x: hidden;
  overflow-y: scroll;
}

.section-wrapper {
  height: 300px;
  width: 100%;
}

.landing-section {
  background-image: url("/assets/images/landing-image.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right top;
  height: 120vh;
  position: relative;
  /* Needed for absolute positioning to work */
}
.landing-section .main-header {
  bottom: 50px;
  position: absolute;
  font-family: Neue Montreal;
  font-size: 174px;
  font-weight: 400;
  line-height: 208.8px;
  text-align: left;
}

.card-wrapper {
  padding: 80px;
}
.card-wrapper .card {
  width: calc((100% - 80px) / 2);
}/*# sourceMappingURL=main.css.map */