.card-wrapper {
    .card {
        width: calc((100% - 80px)/2);

        &:nth-child(odd) .card-img {
            margin-bottom: 16px;
        }

        &:nth-child(even) .card-img {
            margin-top: 16px;
        }
    }
}

.pill {
    width: fit-content;
    background-color: #EFEFEF;
    padding: 12px 24px;
    border-radius: 100px;
}