.nav-tab-container {
    position: fixed;
    top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    z-index: 999;
}

.nav-item-wrapper {
    // Invert color based on background using mix-blend-mode and a semi-transparent overlay
    background-color: rgba(255,255,255,0.18);
    backdrop-filter: blur(16px) saturate(180%);
    -webkit-backdrop-filter: blur(16px) saturate(180%);
    mix-blend-mode: difference;
    border-radius: 100px;
    padding: 8px 16px;
    display: flex;
    list-style: none;
    column-gap: 16px;

    .nav-item {
        padding: 10px 16px;
        border-radius: 100px;
        cursor: pointer;

        &.active,
        &:hover {
            background-color: var(--black);
            transition: all 0.6s;

            .nav-item-link {
                color: var(--white);
            }
        }

        .nav-item-link {
            color: gray;
            text-decoration: none;
        }
    }
}
