// .slider {
//     overflow: hidden;
//     background-color: transparent;
// }


// @keyframes scroll-lr {
//     0% {
//         transform: translateX(0);
//     }

//     100% {
//         transform: translateX(-100%);
//     }
// }

// @keyframes scroll-rl {
//     0% {
//         // transform: translateX(0);
//         transform: translateX(-100%);
//     }

//     100% {
//         transform: translateX(0);
//     }
// }



.slider-wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}


.slider {
    display: flex;
    white-space: nowrap;
    position: relative;
}

.slider-item {
    flex: 0 0 auto;
    text-align: center;
}

.slider-card {
    flex: 0 0 auto;
    text-align: center;
}