.slider-wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}


.slider {
    display: flex;
    white-space: nowrap;
    position: relative;
}

.slider-item {
    flex: 0 0 auto;
    text-align: center;
}

.slider-card {
    flex: 0 0 auto;
    text-align: center;
}