.slider-wrapper {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
}

.slider {
    display: flex;
    white-space: nowrap;
    position: relative;
}

.slider-item {
    &.seprration {
        &::after {
            content: "";
            display: inline-flex;
            background-image: url(/assets/images/GifFiles/diamond.gif);
            background-position: center;
            background-repeat: repeat;
            width: 244px;
            height: 221px;
            margin-left: 32px;
            scale: .5;
            position: relative;
            bottom: -45px;



            @include mq(phone) {
                width: 220px;
                height: 220px;
                scale: .3;
                bottom: -90px;
                margin-left: 8px;
            }
        }

        &.ros-pl-32 {
            @include mq(phone) {
                padding-left: 0px !important;
            }
        }
    }
}

.card-slider-track {
    display: flex;
    gap: 16px;
    white-space: nowrap;
    position: relative;

    @include mq(phone) {
        gap: 8px
    }

    .slider-card {
        flex: 0 0 auto;
        width: 400px;
        height: 500px;

        @include mq(phone) {
            width: calc((100vw - 64px)/3);
            height: calc((100vw - 130px)/2);
        }

        .card-img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    .slider-card.clone {
        opacity: 0.5; // Example for debugging, adjust as needed
        pointer-events: none; // Prevent interactions with cloned elements
    }

    .slider-card {
        transition: transform 0.3s ease-in-out, width 0.3s ease-in-out;
    }
}

.ros-pl-80 {
    @include mq(phone) {
        padding-left: 0px !important;
    }
}