.footer-content-container {
    display: flex;

    .sub-section {
        width: 50%;
    }

    .footer-text {
        font-size: 64px;
        font-weight: 400;
        line-height: 76.8px;
        color: #FFFFFF;
    }
}

.section-footer {
    padding-bottom: 48px;
    border-bottom: 1px solid #FFFFFF52;
}

.footer-icons {
    align-items: center;
    width: 40px;
    height: 40px;
    border: 1px solid rgba(255, 255, 255, .2392156863);
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .1019607843);
    display: flex;

}