.experience-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 120px;
    margin: 100px 80px;

    .experience-detail-wrapper {
        max-width: 60%;
    }

    @include mq(phone) {
        flex-direction: column;
        gap: 18px;
        margin: 80px 0;
    }
}