.row {
  --row-gutter: 24px;
  $grid-columns: 12;

  display: flex;
  flex-wrap: wrap;
  row-gap: var(--row-gutter);
  margin: 0 calc(-1 * var(--row-gutter) / 2);

  [class*="row-col"] {
    flex: 1 0 0%;
    min-width: 0;
    margin: 0 calc(var(--row-gutter) / 2);
  }

  @include mq(desktop, min) {
    @for $i from 1 through $grid-columns {
      .row-col-xl-#{$i} {
        flex: 0 0 calc((100% / 12) * #{$i} - var(--row-gutter));
        max-width: calc((100% / 12) * #{$i} - var(--row-gutter));
      }
    }
  }

  @include mq(tablet, min) {
    @for $i from 1 through $grid-columns {
      .row-col-md-#{$i} {
        flex: 0 0 calc((100% / 12) * #{$i} - var(--row-gutter));
        max-width: calc((100% / 12) * #{$i} - var(--row-gutter));
      }
    }
  }
  @include mq(phone, min) {
    @for $i from 1 through $grid-columns {
      .row-col-sm-#{$i} {
        flex: 0 0 calc((100% / 12) * #{$i} - var(--row-gutter));
        max-width: calc((100% / 12) * #{$i} - var(--row-gutter));
      }
    }
  }

  @include mq(phone-sm, min) {
    @for $i from 1 through $grid-columns {
      .row-col-xs-#{$i} {
        flex: 0 0 calc((100% / 12) * #{$i} - var(--row-gutter));
        max-width: calc((100% / 12) * #{$i} - var(--row-gutter));
      }
    }
  }

  // @for $i from 1 through  $grid-columns {
  //   .row-col-#{$i} {
  //     flex: 0 0 calc((100% / 12) * #{$i} - var(--row-gutter));
  //     max-width: calc((100% / 12) * #{$i} - var(--row-gutter));
  //   }
  // }

  // @for $i from 1 through  $grid-columns {
  //   &-cols-#{$i} {
  //     .row-col {
  //       flex: 0 0 auto;
  //       width: calc((100% / #{$i}) - var(--row-gutter));
  //     }
  //   }
  // }

  &.row-gutter-8 {
    --row-gutter: 8px;
  }

  &.row-gutter-16 {
    --row-gutter: 16px;
  }

  &.row-gutter-20 {
    --row-gutter: 20px;
  }
}
